<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MKSanic</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/bss_user/bss_user_home.html">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <!-- Start: metadata_movie --><a class="dropdown-item" role="presentation" href="bss_user_metadata_movie.html">Movie</a>
                            <!-- End: metadata_movie --><a class="dropdown-item" role="presentation" href="bss_user_metadata_movie_collection.html">Movie Collection</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_tv.html">TV Show</a><a class="dropdown-item"
                                role="presentation" href="bss_user_metadata_music_album.html">Music Album</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_sports.html">Sports</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_game.html">Games</a>
                            <a
                                class="dropdown-item" role="presentation" href="bss_user_metadata_game_systems.html">Game Systems</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_person.html">Person</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_book.html">Book/Periodical</a><a class="dropdown-item"
                                    role="presentation" href="bss_user_metadata_music_video.html">Music Video</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/bss_user/bss_user_profile.html">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/bss_admin/bss_admin_home.html">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Log Out</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <div><div></div></div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>

</html>