{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if data %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <p>Data for now: {{data}}</p>
                    <p>Title: {{data['description']}}</p>
                    <p>Short Name: {{data['@name']}}</p>
                    <p>Publisher: {{data['publisher']}}</p>
                    <p>Year: {{data['year']}}</p>
                    <p>Supported: {{data['@supported']}}</p>
                    {% if data_review %}
                    <p>Reviews:</p>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
