{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if data %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <p>Name: {{data[3]}}</p>
                    <p>Short Name: {{data[1]}}</p>
                    <p>Source Code: {{data[2]}}</p>
                    <p>Color Palette: {{data[14]}}</p>
                    <p>Release Date: {{data[5]}}
                    <p>Overview: {{data[4]}}</p>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
