{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    {% if data_title %}
    <div id="movie_detail">
        {% if data_background_image is not none %}
        <img alt="fs_bg_image" src= "{{ url_for('static', filename='/static/meta/images/' + data_background_image | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" id="fs_bg_image" >
        {% endif %}
        <div id="movie_image_div" class="table-responsive">
            {% if data_poster_image is none %}
            <img class="center" src= "{{ url_for('static', filename='/static/images/missing_icon.jpg') }}">
            {% else %}
            <img class="center" src= "{{ url_for('static', filename='/static/meta/images/' + data_poster_image | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" >
            {% endif %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <p>Runtime: {{data_runtime}}</p>
                        <p>Rating: {{data_rating}}</p>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="movie_detail_div" class="table-responsive">
            <div id="textbox">
                <p class="alignleft">Title: {{ data_title }}</p>
                <p class="alignright">Release Date: {{data_first_aired}}</p>
            </div>
            <div style="clear: both;"></div>
            {% if data_genres_list %}
            <p>Genres: {{data_genres_list}}</p>
            {% endif %}
            <p>Overview: {{data_overview | safe}}</p>
            {% if data_production %}
            <p>Production Companies: {{data_production}}</p>
            {% endif %}
            {% if data_review %}
            <p>Reviews:</p>
            {% endif %}
        </div>
        <div id="the-node">
            {% for season_info in data_season_count %}
            <div class="main_photo">
                <a href= "{{ url_for('user_metadata_tv.metadata_tvshow_season_detail_page', guid=row_data[0], season=season_info|string) }}" >
                <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='/static/images/missing_icon.jpg') }}" alt="{{ url_for('static', filename='/static/images/missing_icon.jpg') }}" height="300" width="200">
                </a>
                <div class="description">
                    <p class="description_content">{{data_season_data[season_info]}}</p>
                </div>
                <p>Season: {{season_info}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='/static/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='/static/js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
