{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media_movie %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div id="the-movie-metadata-node">
        {% for row_data in media_movie %}
            <div class="main_photo">
                <div data-id={{row_data[0]}}>
                    <a href= "{{ url_for('user_metadata_movie.metadata_movie_detail', guid=row_data[0]) }}" >
                        {% if row_data[3] == None %}
                            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='images/Movie-icon.png') }}" height="300" width="200">
                            {% if row_data[4] == True %}
                            <img class="wide_watched_icon" src="{{ url_for('static', filename='images/eye.png') }}" height="25" width="25">
                            {% endif %}
                            {% if row_data[5] != None %}
                            <img class="wide_rating_icon" src={{row_data[5]}} height="25" width="25">
                            {% endif %}
                            {% if row_data[6] != None %}
                            <img class="wide_request_icon" src="{{ url_for('static', filename='images/add-button.png') }}" height="25" width="25">
                            {% endif %}
                            {% if row_data[7] != None %}
                            <img class="wide_queue_icon" src="{{ url_for('static', filename='images/rectangles.png') }}" height="25" width="25">
                            {% endif %}
                            </a>
                            <div class="description">
                                <p class="description_content_left">{{row_data[1]}}</p>
                            </div>
                        {% else %}
                            <img class="b-lazy" src=data: data-src= "{{ url_for('static', filename='meta/images/' + row_data[3] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
                            {% if row_data[4] == True %}
                            <img class="wide_watched_icon" src="{{ url_for('static', filename='images/eye.png') }}" height="25" width="25">
                            {% endif %}
                            {% if row_data[5] != None %}
                            <img class="wide_rating_icon" src={{row_data[5]}} height="25" width="25">
                            {% endif %}
                            {% if row_data[6] != None %}
                            <img class="wide_request_icon" src="{{ url_for('static', filename='images/add-button.png') }}" height="25" width="25">
                            {% endif %}
                            {% if row_data[7] != None %}
                            <img class="wide_queue_icon" src="{{ url_for('static', filename='images/rectangles.png') }}" height="25" width="25">
                            {% endif %}
                            </a>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No movie metadata found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
