{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/css/listnav.css">
    </head>
    {% if media_game_system %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>System Name</th>
                    <th>System Short Name</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in media_game_system %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td><a href = "{{ url_for('user_metadata_game.metadata_game_detail', guid=row_data[0]) }}">{{ row_data[2] }}</a></td>
                    <td>{{ row_data[1] }}</td>
                    <td>{{ row_data[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No game system metadata found.</p>
    {% endif %}
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
