{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/listnav.css') }}">
    </head>
    {% if media_game %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Game Name</th>
                    <th>Year</th>
                    <th>System</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in media_game %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td><a href ="{{ url_for('user_metadata_game.metadata_game_detail', guid=row_data[0]) }}">{{ row_data[1] }}</a></td>
                    <td>{{ row_data[2] }}</td>
                    <td>{{ row_data[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No game metadata found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='/static/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
