{% extends "layout.html" %}
{% block content %}
{% if json_metadata %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    <div id="meta_detail">
        <div id="meta_image_div" class="table-responsive">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= {{ data_person_image }} height="300" width="200"></a>
        </div>
        <div id="meta_detail_div" class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <p>Name: {{json_metadata['name']}}</p>
                        {% if json_metadata['homepage'] %}
                        <p>Homepage: <a href = {{json_metadata['homepage']}}>{{json_metadata['homepage']}}</a></p>
                        {% endif %}
                        {% if json_metadata['bio'] %}
                        <p>Biography: {{json_metadata['bio']}}</p>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% if data_also_media %}
            <p>Seen in...</p>
            <div id="container">
                <div class="grid">
                    {% for media_info in data_also_media %}
                    <div class="col-1-4">
                        {% if media_info[2] == None %}
                        <a href= "{{ url_for('user_metadata_movie.metadata_movie_detail', guid=media_info[0]) }}" > {{media_info[1]}}</a>
                        {% else %}
                        <a href= "{{ url_for('user_metadata_movie.metadata_movie_detail', guid=media_info[0]) }}" >
                        <img class="b-lazy"
                             src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='meta/images/' + media_info[2] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
