{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    {% if media_tvshow %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div id="the-tv-node">
        {% for row_data in media_tvshow %}
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data[1]}}>
                <a href = "{{ url_for('user_metadata_tv.metadata_tvshow_detail', guid=row_data[0]) }}" >
                {% if row_data[3] == None %}
                <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='/static/images/missing_icon.jpg') }}" height="300" width="200">
                {% else %}
                <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='/static/meta/images/' + row_data[3] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
                {% endif %}
                </a>
                {% if row_data[2] != None %}
                <div class="description">
                    <p class="description_content_left">{{row_data[2]}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No TV show metadata found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='/static/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='/static/js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
