/jquery.ui.colorpicker-crayola.js
/jquery.ui.colorpicker-crayola.min.js
/jquery.ui.colorpicker-pantone.js
/jquery.ui.colorpicker-pantone.min.js
/jquery.ui.colorpicker-ral-classic.js
/jquery.ui.colorpicker-ral-classic.min.js
/jquery.ui.colorpicker-x11.js
/jquery.ui.colorpicker-x11.min.js
