{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Library Path Addition</h1>
    <br>
    <form id="libraryaddeditForm" class="form form-libraryedit" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="form-group">
                {{form.storage_mount_type.label}}
                {{form.storage_mount_type(placeholder="Share Type", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.storage_mount_user.label}}
                {{form.storage_mount_user(placeholder="Share User", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.storage_mount_password.label}}
                {{form.storage_mount_password(placeholder="Share Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.library_path.label}}
                {{form.library_path(placeholder="Library Path", class_="form-control")}}
            </div>
        </div>
        <select name="Lib_Class", id="lib_class">
            {% for class_data in data_class %}
            <option value={{class_data[1]}}>{{class_data[0]}}</option>
            {% endfor %}
        </select>
        <p><input class="btn btn-default btn-submit" type="submit" name="action_type" value="Add"></p>
        <p><input class="btn btn-default btn-submit" type="submit" name="action_type" value="Browse..."></p>
        <p><input type="image" src="../../static/images/Synology_logo_Standard.png" class="btn btn-default btn-submit" type="submit" name="action_type" value="Synology"></p>
        <p>The “Synology” logo are trademarks of Synology, Inc., registered in the Republic of China (Taiwan) and other countries.</p>
    </form>
</div>
{% endblock %}