[submodule "MediaKraken_Tizen"]
	path = MediaKraken_Tizen
	url = ../MediaKraken_Tizen
[submodule "MediaKraken_Roku"]
	path = MediaKraken_Roku
	url = ../MediaKraken_Roku
[submodule "KrakenStreamer"]
	path = KrakenStreamer
	url = ../KrakenStreamer
[submodule "MediaKraken_Kodi"]
	path = MediaKraken_Kodi
	url = ../MediaKraken_Kodi
[submodule "MediaKraken_OS"]
	path = MediaKraken_OS
	url = ../LibreELEC.tv
