[submodule "MediaKraken_Common"]
	path = MediaKraken_Common
	url = ../MediaKraken_Common
[submodule "MediaKraken_Testing"]
	path = MediaKraken_Testing
	url = ../MediaKraken_Testing
[submodule "MediaKraken_Server"]
	path = MediaKraken_Server
	url = ../MediaKraken_Server
[submodule "MediaKraken_Slave"]
	path = MediaKraken_Slave
	url = ../MediaKraken_Slave
[submodule "MediaKraken_Theater"]
	path = MediaKraken_Theater
	url = ../MediaKraken_Theater
[submodule "MediaKraken_Tizen"]
	path = MediaKraken_Tizen
	url = ../MediaKraken_Tizen
[submodule "MediaKraken_Roku"]
	path = MediaKraken_Roku
	url = ../MediaKraken_Roku
