[submodule "MediaKraken_Tizen"]
	path = MediaKraken_Tizen
	url = ../MediaKraken_Tizen
[submodule "MediaKraken_Roku"]
	path = MediaKraken_Roku
	url = ../MediaKraken_Roku
[submodule "MediaKraken_Kodi"]
	path = MediaKraken_Kodi
	url = ../MediaKraken_Kodi
[submodule "MediaKraken_Build"]
	path = MediaKraken_Build
	url = ../MediaKraken_Build
[submodule "KrakenStreamer"]
	path = KrakenStreamer
	url = ../KrakenStreamer
[submodule "pitchfork"]
	path = submodule/pitchfork
	url = ../pitchfork
[submodule "subliminal"]
	path = submodule/subliminal
	url = ../subliminal
[submodule "xmltodict"]
	path = submodule/xmltodict
	url = ../xmltodict
[submodule "guessit"]
	path = submodule/guessit
	url = ../guessit
[submodule "videojs-contrib-hls"]
	path = submodule/videojs-contrib-hls
	url = ../videojs-contrib-hls
[submodule "video.js"]
	path = submodule/video.js
	url = ../video.js
[submodule "videojs-youtube"]
	path = submodule/videojs-youtube
	url = ../videojs-youtube
[submodule "videojs-vimeo"]
	path = submodule/videojs-vimeo
	url = ../videojs-vimeo
[submodule "omdb.py"]
	path = submodule/omdb.py
	url = ../omdb.py
[submodule "python-twitch"]
	path = submodule/python-twitch
	url = ../python-twitch
[submodule "psycopg2"]
	path = submodule/psycopg2
	url = ../psycopg2
[submodule "pygal"]
	path = submodule/pygal
	url = ../pygal
[submodule "watchdog"]
	path = submodule/watchdog
	url = ../watchdog
[submodule "natsort"]
	path = submodule/natsort
	url = ../natsort
[submodule "tmdbsimple"]
	path = submodule/tmdbsimple
	url = ../tmdbsimple
[submodule "fastnumbers"]
	path = submodule/fastnumbers
	url = ../fastnumbers
[submodule "Flask"]
	path = submodule/Flask
	url = ../Flask
[submodule "twisted"]
	path = submodule/twisted
	url = ../twisted
[submodule "scandir"]
	path = submodule/scandir
	url = ../scandir
[submodule "kivy"]
	path = submodule/kivy
	url = ../kivy
[submodule "flask-sqlalchemy"]
	path = submodule/flask-sqlalchemy
	url = ../flask-sqlalchemy
[submodule "rxv"]
	path = submodule/rxv
	url = ../rxv
[submodule "passwordmeter"]
	path = submodule/passwordmeter
	url = ../passwordmeter
