/3D.png
/MediaKraken.png
/Missing_Icon.png
/Movie-icon.png
/Octocat.png
/Synology_logo_Standard.png
/access-icon.png
/add-button.png
/bar-alpha.png
/bar-opacity.png
/bar-pointer.png
/bar.png
/books.png
/bricks-wall-and-demolition-ball.png
/browser.png
/btn.png
/chapterflyout.png
/chem.png
/chromecast.png
/circuit-board.png
/construction-excavator.png
/diskette-paused.png
/diskette.png
/dislike-thumb.png
/error-404.png
/exclamation-circle-frame.png
/eye.png
/favorite-mark.png
/flickr.png
/fullscreen-icon.png
/headphone.png
/home.png
/light-bulb.png
/lightbulb_off.png
/lightbulb_on.png
/listening-music-video-clip-with-auricular.png
/livingroom-black-double-sofa.png
/loading.gif
/magnifying-glass.png
/map-opacity.png
/map-pointer.png
/map.png
/mbc.png
/missing_icon.jpg
/movie_ticket.png
/new.png
/pastafarianism.png
/person_missing.png
/photo.png
/pile-of-dung.png
/planet-earth.png
/podium.png
/popcorn.png
/preview-opacity.png
/radio.png
/rectangles.png
/rectangles_black.png
/repostat.png
/roku.jpg
/rt_fresh.png
/rt_rotten.png
/safebox.png
/search.png
/stadium.png
/surveillance-cctv-symbol-in-rounded-triangle.png
/synced.jpg
/television.png
/television_live.png
/theater.png
/thumbs-up.png
/tools.png
/transcript-icon.png
/twitch.png
/ui-colorpicker.png
/unlock.png
/users.png
/vid_camera.png
/vid_game.png
/vimeo_icon_white_on_blue_rounded.png
/virus.png
/worker-of-construction-working-with-a-shovel-beside-material-pile.png
/youtube-logo.png
