{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/user/user_home">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/user/user_sync">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_movie_list">Movie</a>
                            <a class="dropdown-item" role="presentation" href="bss_user_metadata_movie_collection.html">Movie Collection</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_tvshow_list">TV Show</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_music_album_list">Music Album</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_sports_list">Sports</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_game">Games</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_game_system">Game Systems</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_person_list">Person</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_periodical">Book/Periodical</a>
                            <a class="dropdown-item" role="presentation" href="/user/user_meta_music_video">Music Video</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="../bss_user_profile.html">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/admin_home">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Log Out</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <div>
    <a href="/bss_user/media/bss_user_media_new.html"><img src="/static/img/new.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_queue"><img src="/static/img/rectangles_black.png" width="200" height="200" loading="lazy"></a>
    <a href="/bss_user/media/bss_user_media_movie.html"><img src="/static/img/movie_ticket.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_album_list"><img src="/static/img/headphone.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_tv"><img src="/static/img/television.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_sports"><img src="/static/img/stadium.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_tv_live"><img src="/static/img/television_live.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_imagegallery"><img src="/static/img/photo.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_game"><img src="/static/img/vid_game.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_periodical"><img src="/static/img/books.png" width="200" height="200" loading="lazy"></a>
    <a href="/bss_user/media/bss_user_media_iradio.html"><img src="/static/img/radio.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_home_media"><img src="/static/img/vid_camera.png" width="200" height="200" loading="lazy"></a>
    <a href="/bss_user/media/bss_user_media_3d.html"><img src="/static/img/3D.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_internet"><img src="/static/img/planet-earth.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_music_video"><img src="/static/img/listening-music-video-clip-with-auricular.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_cctv"><img src="/static/img/surveillance-cctv-symbol-in-rounded-triangle.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_search"><img src="/static/img/magnifying-glass.png" width="200" height="200" loading="lazy"></a>
    <a href="/user/user_hardware"><img src="/static/img/circuit-board.png" width="200" height="200" loading="lazy"></a>
    </div>
    <footer
        class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}