{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken Profile</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ url_for('name_blueprint_user_homepage.url_bp_user_homepage') }}">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_sync.url_bp_user_sync_display_all') }}">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_movie.url_bp_user_metadata_movie_list') }}">Movie</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_media_colletion.url_bp_user_metadata_movie_collection') }}">Movie Collection</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_tv.url_bp_user_metadata_tvshow_list') }}">TV Show</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music.url_bp_user_metadata_music_album_list') }}">Music Album</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_sports.url_bp_user_metadata_sports_list') }}">Sports</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game.url_bp_user_metadata_game') }}">Games</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game_system.url_bp_user_metadata_game_system') }}">Game Systems</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_people.url_bp_user_metadata_person_list') }}">Person</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_periodical.url_bp_user_metadata_periodical') }}">Book/Periodical</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music_video.url_bp_user_metadata_music_video') }}">Music Video</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_profile.url_bp_user_profile') }}">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_admin.url_bp_admin') }}">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_public_about.url_bp_public_about') }}">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/logout">Log Out</a></span></div>
        </div>
    </nav>
                <!-- End: Navigation with Button -->
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{ url_for('static', filename='img/K3.png') }}" width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Username</strong></label><input class="form-control" type="text" placeholder="Username" name="username"></div>
                                                    <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" placeholder="user@example.com" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
            </div>
        </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
