{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ url_for('name_blueprint_user_homepage.url_bp_user_homepage') }}">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_sync.url_bp_user_sync_display_all') }}">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_movie.url_bp_user_metadata_movie_list') }}">Movie</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_media_colletion.url_bp_user_metadata_movie_collection') }}">Movie Collection</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_tv.url_bp_user_metadata_tvshow_list') }}">TV Show</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music.url_bp_user_metadata_music_album_list') }}">Music Album</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_sports.url_bp_user_metadata_sports_list') }}">Sports</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game.url_bp_user_metadata_game') }}">Games</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game_system.url_bp_user_metadata_game_system') }}">Game Systems</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_people.url_bp_user_metadata_person_list') }}">Person</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_periodical.url_bp_user_metadata_periodical') }}">Book/Periodical</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music_video.url_bp_user_metadata_music_video') }}">Music Video</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_profile.url_bp_user_profile') }}">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_admin.url_bp_admin') }}">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_public_about.url_bp_public_about') }}">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/logout">Log Out</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <div>
    {% if data_new_media %}
        <a href="{{ url_for('name_blueprint_user_media_new.url_bp_user_media_new') }}"><img src="/static/img/new.png" width="200" height="200" loading="lazy"></a>
    {% endif %}
    {% if data_user_media_queue %}
        <a href="{{ url_for('name_blueprint_user_queue.url_bp_user_queue') }}"><img src="/static/img/rectangles_black.png" width="200" height="200" loading="lazy"></a>
    {% endif %}
    <a href="{{ url_for('name_blueprint_user_media_genre.url_bp_user_movie_page', genre='all') }}"><img src="{{ url_for('static', filename='img/movie_ticket.png') }}" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_music.url_bp_user_album_list') }}"><img src="/static/img/headphone.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_tv.url_bp_user_tv') }}"><img src="/static/img/television.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_sports.url_bp_user_sports') }}"><img src="/static/img/stadium.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_tv_live.url_bp_user_tv_live', schedule_date='20170716', schedule_time='213500') }}"><img src="/static/img/television_live.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_image.url_bp_user_image_gallery') }}"><img src="/static/img/photo.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_game.url_bp_user_game') }}"><img src="/static/img/vid_game.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_periodical.url_bp_user_periodical_list') }}"><img src="/static/img/books.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_media_iradio.url_bp_user_iradio_list') }}"><img src="/static/img/radio.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_home_media.url_bp_user_home_media_list') }}"><img src="/static/img/vid_camera.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_media_3d.url_bp_user_media_3d') }}"><img src="/static/img/3D.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_internet.url_bp_user_internet') }}"><img src="/static/img/planet-earth.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_music_video.url_bp_user_music_video_list') }}"><img src="/static/img/listening-music-video-clip-with-auricular.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_cctv.url_bp_user_cctv') }}"><img src="/static/img/surveillance-cctv-symbol-in-rounded-triangle.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_search.url_bp_user_search_media') }}"><img src="/static/img/magnifying-glass.png" width="200" height="200" loading="lazy"></a>
    <a href="{{ url_for('name_blueprint_user_hardware.url_bp_user_hardware') }}"><img src="/static/img/circuit-board.png" width="200" height="200" loading="lazy"></a>
    </div>
    <footer
        class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
