{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken Profile</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Start: Dark NavBar -->
    <div></div>
    <!-- End: Dark NavBar -->
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <!-- Start: Navigation with Button -->
                    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                        <div class="container"><a class="navbar-brand" href="../bss_user_home.html">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div
                                class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav mr-auto">
                                    <li class="nav-item" role="presentation"></li>
                                    <li class="nav-item" role="presentation"></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sync</a></li>
                                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                                        <div class="dropdown-menu" role="menu">
                                            <!-- Start: metadata_movie --><a class="dropdown-item" role="presentation" href="bss_user_metadata_movie.html">Movie</a>
                                            <!-- End: metadata_movie --><a class="dropdown-item" role="presentation" href="bss_user_metadata_movie_collection.html">Movie Collection</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_tv.html">TV Show</a><a class="dropdown-item"
                                                role="presentation" href="bss_user_metadata_music_album.html">Music Album</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_sports.html">Sports</a><a class="dropdown-item" role="presentation"
                                                href="bss_user_metadata_game.html">Games</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_game_systems.html">Game Systems</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_person.html">Person</a>
                                            <a
                                                class="dropdown-item" role="presentation" href="bss_user_metadata_book.html">Book/Periodical</a><a class="dropdown-item" role="presentation" href="bss_user_metadata_music_video.html">Music Video</a></div>
                                    </li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="../bss_user_profile.html">Profile</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="../../bss_admin/bss_admin_home.html">Admin</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                                </ul><span class="navbar-text actions"> <a class="login" href="#">Log Out</a></span></div>
                </div>
                </nav>
                <!-- End: Navigation with Button -->
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="/assets/img/K3.png" width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Username</strong></label><input class="form-control" type="text" placeholder="Username" name="username"></div>
                                                    <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" placeholder="user@example.com" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}