/LANG.js
/ar.js
/az.js
/bg.js
/ca.js
/cr.js
/cs.js
/da.js
/de.js
/el.js
/es.js
/et.js
/fa.js
/fi.js
/fr.js
/gl.js
/hu.js
/id.js
/it.js
/ja.js
/kr.js
/kz.js
/lt.js
/nl.js
/no.js
/pl.js
/pt-BR.js
/pt.js
/ro.js
/ru.js
/sk.js
/sl.js
/sv.js
/th.js
/tr.js
/uk.js
/vi.js
/zh-TW.js
/zh.js
