pytest
pytest-xdist
pytest-selenium
selenium
coverage
pytest-cov
tox
pyflakes
pytest-timeout
pytest-profiling
httplib2
plyer
psutil
transmissionrpc
watchdog
easysnmp
BeautifulSoup
xmltodict
synolopy
nest
boto
discid
