.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    width: 400px;
    font-weight: bold;
    color: #fff;
  }

.topright {
    position: absolute;
    top: 1em;
    right: 2em;
    width: 120px;
    padding: 4px;
    background-color: #fff;
    font-weight: bold;
    font-size: 11px;
  }

div.wrapper{
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}
div.description{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
    padding:10px;
    margin:0px;
    float: right;
}
p.description_content_left{
    padding:10px;
    margin:0px;
    float: left;
}

.main_photo{
    position:relative;
    display:inline-block;
}

.watched_icon { position:absolute; top: 10px; left: 10px; }

.rating_icon { position:absolute; top: 10px; left: 35px; }

.synced_icon { position:absolute; top: 10px; left: 60px; }

.request_icon { position:absolute; top: 10px; left: 85px; }

.exclamation_icon { position:absolute; top: 10px; left: 110px; }

.queue_icon { position:absolute; top: 10px; left: 135px; }

.user_icon { position:absolute; top: 10px; left: 160px; }

.wide_watched_icon { position:absolute; top: 10px; left: 185px; }

.wide_rating_icon { position:absolute; top: 10px; left: 215px; }

.wide_synced_icon { position:absolute; top: 10px; left: 245px; }

.wide_request_icon { position:absolute; top: 10px; left: 275px; }

.wide_exclamation_icon { position:absolute; top: 10px; left: 305px; }

.wide_queue_icon { position:absolute; top: 10px; left: 335px; }

.wide_user_icon { position:absolute; top: 10px; left: 365px; }

.tab { margin-left: 40px; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}

#data_background {
    background-color: rgb(136,136,136);
}

.neon {
  margin:20px 0 20px 0;
  color:#ffffff;
  text-shadow: 0 0 10px #ffffff,
             0 0 20px  #ffffff,
             0 0 30px  #ffffff,
             0 0 40px  #228DFF,
             0 0 70px  #228DFF,
             0 0 80px  #228DFF,
             0 0 100px #228DFF,
             0 0 150px #228DFF;
}

#general_text {
    color: rgb(0,0,0);
    font-size: 150%;
}

#movie_detail {
    100%;
    background:transparent;
}

#movie_image_div {
    width:30%;
    float:left;
    color:#F0F5F5;
    font-size: 150%;
}

#movie_detail_div {
    font-family: "Times New Roman", Times, serif;
    font-size: 170%;
}

#meta_detail {
    100%;
    background:transparent
}

#meta_image_div {
    width:30%;
    float:left;
    color:#F0F5F5;
    font-size: 150%;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#fs_bg_image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.transparent {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
}

[class*='col-'] {
  float: left;
}
