pika==1.2.0
docker==5.0.0
pycountry==20.7.3  # due to file scan program
babel==2.9.1  # due to file scan program
pysmb==1.2.7  # due to file scan program
smbprotocol[kerberos]==1.5.1  # due to file scan program