pika==1.1.0
docker==4.3.1
pycountry==20.7.3  # due to file scan program
babel==2.8.0  # due to file scan program
pysmb==1.2.2  # due to file scan program
smbprotocol[kerberos]==1.2.0  # due to file scan program