<!DOCTYPE html>
<body id="data_background">
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Geolocation - A jQuery plugin to get location of your users - Google Maps API v3</title>
        <style type="text/css">
            .location_details_css{
            font:15px Calibri;
            }
            .map_canvas_css{
            margin:0px auto;
            width:500px;
            height:300px;
            border: 1px solid #e2e2e2;
            }
        </style>
    </head>
    <body style="text-align:center;">
        <h1>Geolocation - A jQuery plugin to get location of your users - Google Maps API v3</h1>
        <div id="location_details" style="font:15px Calibri;">
        </div>
        <br><br>
        <div id="map_canvas" style="margin:0px auto; width:500px; height:300px; border: 1px solid #e2e2e2;"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/geolocation.min.js"></script>
    </body>
</html>
</body>