{% extends "layout.html" %}
{% block content %}
<body id="data_background">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Welcome to Meta-Man</h1>
    <p>This is the front-end to Meta-Man Video/Audio streaming suite.</p>
    {% if user.is_authenticated == False %}
    <p>Please sign-in or register to get started.</p>
    {% endif %}
    <p><a href="https://www.meta-man.org" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<!-- /.jumbotron -->
</body>
{% endblock %}