Source: python-hdhomerun
Maintainer: Michael Mohr <akihana@gmail.com>
Section: python
Priority: optional
Build-Depends: python2.7-dev, debhelper (>= 9), libhdhomerun-dev
Standards-Version: 3.9.1

Package: python-hdhomerun
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, libhdhomerun1
Description: Python bindings for select APIs from libhdhomerun.

