/.empty
/blank_cd.png
/gnome_media_floppy.png
/hdd_2.png
/hp_hdd_clearcase.png
/media_floppy.png
/nes_input_gaming.png
/nintendo_snes.png
/preferences_desktop_gaming.png
/sega_mega_drive.png
/sega_saturn_controller.png
/sony_playstation_dual_shock.png
