[
  { rabbit, [
      { tcp_listeners, [ 5672 ] },
      { ssl_listeners, [ ] },
      { loopback_users, [] },
      { disk_free_limit, "250MB" },
      { log_levels, [ {connection, debug} ] }
    ]
  },
  { rabbitmq_management, [
      { listener, [
        { port, 15672 },
        { ssl, false } 
        ]
      }
    ]
  }
].
