<!DOCTYPE html>
<body id="data_background">
<html>
    <head>
        <title>Weathro - displays weather status for users on your website - jQuery plugin</title>
        <script src="../../static/js/jquery.min.js"></script>
        <script type="text/javascript">
            var wundergroundAPIKey="1a10e212187d55cd";
            var maxWeathroDays = 2;
        </script>
        <style>
            body {
            font-family: Calibri;
            font-size: 15px;
            text-align:center;
            }
        </style>
    </head>
    <body>
        <h1>Weathro - displays weather status for users on your website - jQuery plugin</h1>
        <br>
        <div id="weathro">
        </div>
        <script src="../../static/js/weathro.min.js"></script>
    </body>
</html>
</body>