/.empty
/apple_ipod_touch.png
/atari5200.png
/atari_2600.png
/atari_2600_frotn.png
/microsoft_xbox_360.png
/nec_turboduo.png
/nec_turboexpress.png
/nec_turbografx_16.png
/neo_geo_icon.png
/neo_geo_pocket_color.png
/nintendo_ds.png
/nintendo_ds_lite.png
/nintendo_dsi.png
/nintendo_game_boy.png
/nintendo_game_boy_advance.png
/nintendo_game_boy_color.png
/nintendo_game_boy_micro.png
/nintendo_game_boy_pocket.png
/nintendo_gamecube.png
/nintendo_nes.png
/nintendo_nintendo64.png
/nintendo_super_nes.png
/nintendo_wii.png
/nokia_n_gage_qd.png
/panasonic_3do_fz_1.png
/sega_dreamcast.png
/sega_game_gear.png
/sega_genesis.png
/sega_genesis_32x.png
/sega_master_system.png
/sega_nomad.png
/sega_saturn_model_2.png
/snes.png
/snk_neo_geo_aes.png
/sony_playstation.png
/sony_playstation_2.png
/sony_playstation_3.png
/sony_playstation_3_slim.png
/sony_playstation_portable.png
/sony_psp.png
/sony_psp_go.png
/xbox.png
