{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <form id="SearchForm" class="form form-youtube" method="POST" action="{{ url_for('user_internet.user_internet_youtube') }}" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.search_text.label}}
            {{form.search_text(placeholder="Search string", class_="form-control")}}
        </div>
    </form>
    {% if media %}
    <div>
        {% for row_data in media %}
        <div class="main_photo">
            <a href= {{ url_for('user_internet.user_internet_youtube_detail', uuid=row_data['items'][0]['id']) }} >
            <img src= {{ row_data['items'][0]['snippet']['thumbnails']['default']['url'] }} height="300" width="200">
        </a>
        <div class="description">
            <p class="description_content_left">{{row_data['items'][0]['snippet']['title']}}</p>
        </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No YouTube media found.</p>
    {% endif %}
    {% endblock %}
    <script src="/static/js/jquery.min.js"></script>
</body>
