{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    <p>
        <a href="./internet_youtube">
        <img src="/static/images/youtube-logo.png" alt="YouTube" height="200" width="200">
        </a>
        <a href="./internet_vimeo">
        <img src="/static/images/vimeo_icon_white_on_blue_rounded.png" alt="Vimeo" height="200" width="200">
        </a>
        <a href="./internet_twitch">
        <img src="/static/images/twitch.png" alt="Twitch TV" height="200" width="200">
        </a>
        <a href="./internet_flickr">
        <img src="/static/images/flickr.png" alt="Flickr" height="200" width="200">
        </a>    </p>
    {% endblock %}
    <script src="/static/js/jquery.min.js"></script>
</body>
