{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
    <div id="twitch_stream"></div>
    <script type="text/javascript">
        var options = {
            width: 1280,
            height: 720,
            video: {{media}},
            allowfullscreen: True
        };
        var player = new Twitch.Player("twitch_stream", options);
        player.setVolume(0.9);
    </script>
    <script src="/static/js/jquery.min.js"></script>
</body>
{% endblock %}
