{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <script src="../../static/js/jquery.min.js"></script>
        <link rel="stylesheet"  href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/css/metaman_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media %}
    <div>
        {% for row_data in media %}
        {% if row_data[2] == None %}
        <a href= {{ "../youtube_detail/" + row_data[1] }} > {{row_data[0]}}</a>
        {% else %}
        <a href= {{ "../youtube_detail/" + row_data[1] }} >
        <img src= {{ "../../static/meta/images/" + row_data[2].replace('../','') }} height="300" width="200">
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No YouTube media found.</p>
    {% endif %}
    {% endblock %}
</body>