{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Meta-Man Video Player</title>
        <!-- Acorn Media Player specific -->
        <link href="../../static/acornmediaplayer/acornmediaplayer.base.min.css" rel="stylesheet" type="text/css">
        <!-- Theme -->
        <link href="../../static/acornmediaplayer/themes/access/acorn.access.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/css/metaman_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <body id="data_background">
        <section>
            <figure>
                <video controls="controls" width="826" height="360" poster="../../static/images/movie_ticket.png" preload="metadata" aria-describedby="full-descript">
                    <source type="video/webm" src="http://10.0.0.31:8900/stream.ffm" />
                    <track src="../../static/subs/TOS-arabic.srt" kind="subtitles" srclang="ar" label="Arabic" />
                    <track src="../../static/subs/TOS-japanese.srt" kind="subtitles" srclang="jp" label="Japanese" />
                    <track src="../../static/subs/TOS-english.srt" kind="subtitles" srclang="en" label="English" />
                    <track src="../../static/subs/TOS-turkish.srt" kind="subtitles" srclang="tr" label="Turkish" />
                    <track src="../../static/subs/TOS-ukrainian.srt" kind="subtitles" srclang="uk" label="Ukrainian" />
                </video>
                <figcaption id="full-descript">
                    <p><em>{{data_desc}}</em></p>
                </figcaption>
            </figure>
        </section>
        <!-- Required by Acorn Media Player -->
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/jquery-ui.min.js"></script>
        <!-- Optional - for older browser support - Webshim Polyfill -->
        <script src="../../static/js/modernizr.custom.min.js"></script>
        <script src="../../static/js/polyfiller.min.js"></script>
        <script>
            if(window.webshims) {
                webshims.polyfill('mediaelement');
            }
        </script>
        <script src="../../static/acornmediaplayer/jquery.acornmediaplayer.min.js"></script>
        <!-- Call the plugin -->
        <script>
            jQuery(function() {
                jQuery('video, audio').acornMediaPlayer();
            });
        </script>
    </body>
</html>
{% endblock %}