/af.js
/ar-dz.js
/ar-kw.js
/ar-ly.js
/ar-ma.js
/ar-sa.js
/ar-tn.js
/ar.js
/bg.js
/ca.js
/cs.js
/da.js
/de-at.js
/de-ch.js
/de.js
/el.js
/en-au.js
/en-ca.js
/en-gb.js
/en-ie.js
/en-nz.js
/es-do.js
/es.js
/et.js
/eu.js
/fa.js
/fi.js
/fr-ca.js
/fr-ch.js
/fr.js
/gl.js
/he.js
/hi.js
/hr.js
/hu.js
/id.js
/is.js
/it.js
/ja.js
/kk.js
/ko.js
/lb.js
/lt.js
/lv.js
/mk.js
/ms-my.js
/ms.js
/nb.js
/nl-be.js
/nl.js
/nn.js
/pl.js
/pt-br.js
/pt.js
/ro.js
/ru.js
/sk.js
/sl.js
/sr-cyrl.js
/sr.js
/sv.js
/th.js
/tr.js
/uk.js
/vi.js
/zh-cn.js
/zh-tw.js
