/ar.js
/ar.json
/ba.js
/ba.json
/bg.js
/bg.json
/ca.js
/ca.json
/cs.js
/cs.json
/cy.js
/cy.json
/da.js
/da.json
/de.js
/de.json
/el.js
/el.json
/en.js
/en.json
/es.js
/es.json
/fa.js
/fa.json
/fi.js
/fi.json
/fr.js
/fr.json
/gl.js
/gl.json
/he.js
/he.json
/hr.js
/hr.json
/hu.js
/hu.json
/it.js
/it.json
/ja.js
/ja.json
/ko.js
/ko.json
/nb.js
/nb.json
/nl.js
/nl.json
/nn.js
/nn.json
/oc.js
/oc.json
/pl.js
/pl.json
/pt-BR.js
/pt-BR.json
/pt-PT.js
/pt-PT.json
/ru.js
/ru.json
/sk.js
/sk.json
/sr.js
/sr.json
/sv.js
/sv.json
/tr.js
/tr.json
/uk.js
/uk.json
/vi.js
/vi.json
/zh-CN.js
/zh-CN.json
/zh-TW.js
/zh-TW.json
