version: '3'
# MediaKraken

# Volumes are HOST directory and then CONTAINER directory

services:
  # start broadcast server (so clients can find server)
  broadcast:
    build:
      context: ./ComposeMediaKrakenBroadcast
      dockerfile: dockerfile-broadcast
    container_name: mkbroadcast
    entrypoint: python3 /mediakraken/subprogram_broadcast.py
    ports:
      - "9101:9101"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
    restart: unless-stopped

  # Main app server which controls the show
  appserver:
    build:
      context: ./ComposeMediaKrakenServer
      dockerfile: dockerfile-appserver
    environment:
      - POSTGRES_DB_HOST=${DBHOST}
      - POSTGRES_DB=${DBDATABASE}
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASS}
      - SWARMIP=${SWARMIP}
      - DEBUG=${DEBUG}
    container_name: mkserver
    depends_on:
      - pgbounce
      - rabbit
    entrypoint: ./wait-for-it-ash.sh -h pgbounce -p 6432 -t 30 -- python3 /mediakraken/main_server.py
    ports:
      - "8903:8903"
    volumes:
      - /var/log/mediakraken:/mediakraken/log
      - /var/opt/mediakraken/certs:/mediakraken/key
      - /var/opt/mediakraken/backup:/mediakraken/backup
      - /home/mediakraken:/mediakraken/mnt
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/opt/mediakraken/images:/mediakraken/web_app/MediaKraken/static/meta/images
      - /var/opt/mediakraken/emulation:/mediakraken/emulation
    networks:
      - mediakraken_network
    restart: unless-stopped
    # to allow mount nfs/cifs
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH

  # Postgresql server
  database:
    build:
      context: ./ComposeMediaKrakenDatabase
      dockerfile: dockerfile-database
    environment:
      - POSTGRES_DB=${DBDATABASE}
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASS}
    container_name: mkdatabase
    volumes:
      - /var/lib/postgresql:/var/lib/postgresql
    networks:
      - mediakraken_network
    restart: unless-stopped

  # pgbouncer
  pgbounce:
    build:
      context: ./ComposeMediaKrakenPGBouncer
      dockerfile: dockerfile-pgbouncer
    environment:
      - DB_HOST=${DBHOST}
      - DB_USER=${DBUSER}
      - DB_PASSWORD=${DBPASS}
      - POOL_MODE=transaction
      - MAX_CLIENT_CONN=500
      - DEFAULT_POOL_SIZE=85
      - SERVER_RESET_QUERY=DISCARD ALL
    container_name: mkpgbounce
    depends_on:
      - database
    entrypoint: ./wait-for-it-ash.sh -h database -p 5432 -t 30 -- ./entrypoint.sh
    networks:
      - mediakraken_network
    restart: unless-stopped

  # runs the server to fetch/process all metadata
  metadata:
    build:
      context: ./ComposeMediaKrakenMetadata
      dockerfile: dockerfile-metadata
    environment:
      - POSTGRES_DB=${DBDATABASE}
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASS}
      - DEBUG=${DEBUG}
    container_name: mkmetadata
    depends_on:
      - pgbounce
      - rabbit
    entrypoint: ./wait-for-it-ash.sh -h pgbounce -p 6432 -t 30 -- python3 /mediakraken/main_server_metadata_api.py
    volumes:
      - /var/log/mediakraken:/mediakraken/log
      - /home/mediakraken:/mediakraken/mnt
      - /var/opt/mediakraken/images:/mediakraken/web_app/MediaKraken/static/meta/images
      - /var/opt/mediakraken/trailers:/mediakraken/web_app/MediaKraken/static/meta/trailers
      - /var/opt/mediakraken/emulation:/mediakraken/emulation
      - /var/opt/mediakraken/cache:/mediakraken/cache
    networks:
      - mediakraken_network
    restart: unless-stopped
    # to allow mount nfs/cifs
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH

  # runs the nginx proxy service
  nginx:
    build:
      context: ./ComposeMediaKrakenNginx
      dockerfile: dockerfile-nginx
    container_name: mknginx
    entrypoint: /usr/bin/wait-for-it-ash.sh -h webserver -p 8080 -t 30 -- nginx
    volumes:
      - /var/log/mediakraken/nginx:/var/log/mediakraken/nginx
      - /var/opt/mediakraken/certs:/etc/nginx/certs
    ports:
      - "8900:8900"
    networks:
      - mediakraken_network
    restart: unless-stopped

  # runs the redis service for flask
  redis:
    build:
      context: ./ComposeMediaKrakenRedis
      dockerfile: dockerfile-redis
    container_name: mkredis
    ports:
      - "6379:6379"
    networks:
      - mediakraken_network
    restart: unless-stopped

  # Runs the download services
  download:
    build:
      context: ./ComposeMediaKrakenDownload
      dockerfile: dockerfile-download
    container_name: mkdatabase
    depends_on:
      - rabbit
    entrypoint: python3 /mediakraken/main_download.py 
    volumes:
      - /var/opt/mediakraken/download:/mediakraken
    networks:
      - mediakraken_network
    restart: unless-stopped

  # Runs the web service for the main server application
  webserver:
    build:
      context: ./ComposeMediaKrakenWebServer
      dockerfile: dockerfile-webserver
    environment:
      - POSTGRES_DB=${DBDATABASE}
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASS}
      - DEBUG=${DEBUG}
    container_name: mkwebapp
    depends_on:
      - pgbounce
      - rabbit
      - redis
      - nginx
    entrypoint: ./wait-for-it-ash.sh -h pgbounce -p 6432 -t 30 -- uwsgi --socket 0.0.0.0:8080 --protocol http --chdir=./web_app --ini ./web_app/mediakraken_uwsgi_alpine.ini
    volumes:
      - /var/log/mediakraken:/mediakraken/log
      - /home/mediakraken:/mediakraken/mnt
      - /var/opt/mediakraken/images:/mediakraken/web_app/MediaKraken/static/meta/images
      - /var/opt/mediakraken/webkey:/mediakraken/key
      - /var/opt/mediakraken/uploads:/mediakraken/uploads
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - mediakraken_network
    restart: unless-stopped

#  nginxrtmp:
#    build:
#      context: ./ComposeMediaKrakenNginxRTMP
#      dockerfile: Dockerfile
#    container_name: mknginxrtmp
#    ports:
#      - "1935:1935"
#    volumes:
#      - /home/mediakraken:/mediakraken/mnt
#    restart: unless-stopped

#  nginxrtmpforward:
#    build:
#      context: ./ComposeMediaKrakenNginxRTMPStreamForward
#      dockerfile: Dockerfile
#    container_name: mknginxrtmpforward
#    ports:
#      - "1935:1935"
#      - "80:80"
#    restart: unless-stopped

  # rabbit
  rabbit:
    build:
      context: ./ComposeMediaKrakenRabbitMQ/management
      dockerfile: Dockerfile
    container_name: mkrabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
#      - "5671:5671"
      - "5672:5672"
#      - "15671:15671"
      - "15672:15672"
    volumes:
      - /var/opt/mediakraken/rabbit:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - mediakraken_network

#  # runs mail server
#  smtp:
#    build:
#      context: ./ComposeMediaKrakenOpenSMTP
#      dockerfile: Dockerfile
#    container_name: mkopensmtp
#    ports:
#      - "25:25"
#    volumes:
#      - /var/opt/mediakraken/mail:/var/vmail
#    networks:
#      - mediakraken_network
#    restart: unless-stopped

  # runs calibre server
  calibre:
    build:
      context: ./ComposeMediaKrakenCalibre
      dockerfile: Dockerfile
    container_name: mkcalibre
    ports:
      - "5299:5299"
    volumes:
      - /var/opt/mediakraken/calibre/config:/config
      - /var/opt/mediakraken/calibre/books:/books
      - /var/opt/mediakraken/calibre/audiobooks:/audiobooks
      - /var/opt/mediakraken/calibre/magazines:/magazines
      - /var/opt/mediakraken/calibre/downloads:/downloads
    networks:
      - mediakraken_network
    restart: unless-stopped

#  mail:
#    build:
#      context: ./ComposeMediaKrakenMail
#      dockerfile: Dockerfile
#    hostname: mkmail
#    domainname: domain.com
#    container_name: mkmail
#    ports:
#    - "25:25"
#    - "143:143"
#    - "587:587"
#    - "993:993"
#    volumes:
#    - /var/opt/mediakraken/maildata:/var/mail
#    - /var/opt/mediakraken/mailstate:/var/mail-state
#    - /var/opt/mediakraken/mail/config/:/tmp/docker-mailserver/
#    environment:
#    - ENABLE_SPAMASSASSIN=0
#    - ENABLE_CLAMAV=0
#    - ENABLE_FAIL2BAN=0
#    - ONE_DIR=1
#    - DMS_DEBUG=0
#    cap_add:
#    - NET_ADMIN
#    networks:
#      - mediakraken_network
#    restart: unless-stopped

  # runs ffprobe
  ffprobe:
    build:
      context: ./ComposeMediaKrakenFFProbe
      dockerfile: Dockerfile
    environment:
      - POSTGRES_DB_HOST=${DBHOST}
      - POSTGRES_DB=${DBDATABASE}
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASS}
      - DEBUG=${DEBUG}
    container_name: mkffprobe
    depends_on:
      - rabbit
    entrypoint: ./wait-for-it-ash.sh -h pgbounce -p 6432 -t 30 -- python3 /mediakraken/subprogram_ffprobe_metadata.py
    volumes:
      - /home/mediakraken:/mediakraken/mnt
    networks:
      - mediakraken_network
    restart: unless-stopped
  
  # runs hardware
  hardware:
    build:
      context: ./ComposeMediaKrakenHardware
      dockerfile: dockerfile-hardware
    environment:
      - DEBUG=${DEBUG}
    container_name: mkhardware
    depends_on:
      - rabbit
    entrypoint: python3 /mediakraken/main_hardware.py
    networks:
      - mediakraken_network
    restart: unless-stopped

#  # runs filebeat
#  filebeat:
#    build:
#      context: ./ComposeMediaKrakenFilebeat
#      dockerfile: Dockerfile
#    container_name: mkfilebeat
#    depends_on:
#      - elk
#    entrypoint: ./wait-for-it-bash.sh -h elk -p 9200 -t 30 -- filebeat -e
#    volumes:
#      - /var/log/mediakraken:/mediakraken/log
#    networks:
#      - mediakraken_network
#    restart: unless-stopped

# Docker private networks
networks:
  # Twisted, Database and AMQP communications network
  mediakraken_network:
    driver: bridge
