
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Active Swarm Node(s)</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Operating System</th>
                                                <th>ID</th>
                                                <th>Docker Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row_data in docker_nodes %}
                                            <tr>
                                                <td>{{ row_data['Description']['Hostname'] }}</td>
                                                <td>{{ row_data['Description']['Platform']['OS'] }}</td>
                                                <td>{{ row_data['ID'] }}</td>
                                                <td>{{ row_data['Description']['Engine']['EngineVersion'] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
