{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Database</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark navbar-expand align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/user/user_home">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-pastafarianism"></i></div>&nbsp;Mediakraken</a>
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/admin/admin_home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/admin/admin_backup"><i class="far fa-hdd"></i><span>Backup</span></a>
                        <a class="nav-link" href="/admin/admin_cron"><i class="fas fa-toolbox"></i><span>Cron/Housekeeping</span></a>
                        <a class="nav-link" href="/admin/admin_cloud"><i class="fas fa-cloud"></i><span>Cloud</span></a>
                        <a class="nav-link" href="/admin/admin_database"><i class="fas fa-database"></i><span>DB Statistics</span></a>
                        <a class="nav-link" href="/admin/admin_docker_stat"><i class="fab fa-docker"></i><span>Docker Statistics</span></a>
                        <a class="nav-link" href="/admin/admin_emulation"><i class="fas fa-gamepad"></i><span>Game Metadata</span></a>
                        <a class="nav-link" href="/admin/admin_hardware"><i class="fas fa-microchip"></i><span>Hardware</span></a>
                        <a class="nav-link" href="/admin/admin_library"><i class="fas fa-ticket-alt"></i><span>Library</span></a>
                        <a class="nav-link" href="/admin/admin_report"><i class="fas fa-clipboard-list"></i><span>Reports</span></a>
                        <a class="nav-link" href="/admin/admin_settings"><i class="fas fa-cogs"></i><span>Server</span></a>
                        <a class="nav-link" href="/admin/admin_link"><i class="fas fa-link"></i><span>Server Links</span></a>
                        <a class="nav-link" href="/admin/admin_share"><i class="fas fa-share"></i><span>Shares (UNC/SMB/NFS)</span></a>
                        <a class="nav-link" href="/admin/admin_transmission"><i class="fas fa-bolt"></i><span>Transmission</span></a>
                        <a class="nav-link" href="/admin/admin_users"><i class="fas fa-user-alt"></i><span>Users</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"><strong>Parallel Workers: {{data_workers}}</strong></p>
                        </div>
                        <div class="card-body">
                            <fieldset>
                                <legend>Database Record Count</legend>
                            </fieldset><div>        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Record(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in data_db_count %}
                <tr>
                    <td>{{ row_data[0] }}</td>
                    <td>{{ row_data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div></div>
                        <div class="card-body">
                            <fieldset>
                                <legend>Database Table Size<br></legend>
                            </fieldset><div>        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in data_db_size %}
                <tr>
                    <td>{{ row_data[0] }}</td>
                    <td>{{ row_data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div></div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
                </div>
            </footer>
        </div>
    </div><div>    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<</div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
