{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Cron</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark navbar-expand align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{ url_for('name_blueprint_user_homepage.url_bp_user_homepage') }}">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-pastafarianism"></i></div>&nbsp;Mediakraken</a>
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin.url_bp_admin') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_backup.url_bp_admin_backup') }}"><i class="far fa-hdd"></i><span>Backup</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_cron.url_bp_admin_cron') }}"><i class="fas fa-toolbox"></i><span>Cron/Housekeeping</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_cloud.url_bp_admin_cloud') }}"><i class="fas fa-cloud"></i><span>Cloud</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_database.url_bp_admin_database_statistics') }}"><i class="fas fa-database"></i><span>DB Statistics</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_docker.url_bp_admin_docker_stat') }}"><i class="fab fa-docker"></i><span>Docker Statistics</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_emulation.url_bp_emulation') }}"><i class="fas fa-gamepad"></i><span>Game Metadata</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_hardware.url_bp_admin_hardware') }}"><i class="fas fa-microchip"></i><span>Hardware</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_library.url_bp_admin_library') }}"><i class="fas fa-ticket-alt"></i><span>Library</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_report.url_bp_admin_report') }}"><i class="fas fa-clipboard-list"></i><span>Reports</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_settings.url_bp_admin_settings') }}"><i class="fas fa-cogs"></i><span>Server</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_link.url_bp_admin_server_link') }}"><i class="fas fa-link"></i><span>Server Links</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_transmission.url_bp_admin_transmission') }}"><i class="fas fa-bolt"></i><span>Transmission</span></a>
                        <a class="nav-link" href="{{ url_for('name_blueprint_admin_users.url_bp_admin_user') }}"><i class="fas fa-user-alt"></i><span>Users</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <fieldset>
                        <legend><strong>Cron/Housekeeping Jobs</strong><br></legend><div>
                        {% if media_cron %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cron Name</th>
                                        <th>Description</th>
                                        <th>Enabled</th>
                                        <th>Schedule</th>
                                        <th>Last Run</th>
                                        <th>Run</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row_data in media_cron %}
                                    <tr>
                                        <td>{{ loop.index + (page - 1) * per_page }}</td>
                                        <td>{{ row_data[1] }}</td>
                                        <td>{{ row_data[2] }}</td>
                                        <td>{{ row_data[3] }}</td>
                                        <td>{{ row_data[4] }}</td>
                                        <td>{{ row_data[5] }}</td>
                                        <td>
                                            <a href= "{{ url_for('name_blueprint_admin_cron.url_bp_admin_cron_run', guid=row_data[0]) }}" id="play_button">
                                                <i class="fas fa-play" height="20" width="20"></i>
                                            </a>
                                        </td>
                                        <div class="pull-right action-buttons">
                                            <td>
                                                <p><button> <a data-id={{ row_data[0] }} data-toggle="modal" data-target="#editCronModal" onclick="EditCron(this)" ><span class="fas fa-pencil-alt"></span></button></a>
                                            </td>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="confirm_cron" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-trash-alt" height="20" width="20"></i></button>
                                        <h4 class="modal-title custom_align" id="Heading">Run this Cron</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-danger"><span class="fas fa-exclamation-triangle"></span> Are you sure you want to run this cron?</div>
                                    </div>
                                    <div class="modal-footer ">
                                        <button type="button" class="btn btn-success" onclick="Cron_Run()" ><span class="fas fa-check-circle"></span> Yes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-trash-alt" height="20" width="20"></i> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editCronModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="editModalLabel">Update Cron</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Path:</label>
                                                <input type="text" class="form-control" id="editPath">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Media Class:</label>
                                                <textarea class="form-control" id="editClass"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="btnCronUpdate">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
                        {% else %}
                        <p id="general_text">No cron jobs found.</p>
                        {% endif %}
                    </div></fieldset>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.tmpl.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp_update.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp_run.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
