{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/bss_user/bss_user_home.html">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-pastafarianism"></i></div>&nbsp;Mediakraken</a>
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/bss_admin/bss_admin_home.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a><a class="nav-link" href="/bss_admin/bss_admin_backup.html"><i class="far fa-hdd"></i><span>Backup</span></a>
                        <a
                            class="nav-link" href="/bss_admin/bss_admin_cron.html"><i class="fas fa-toolbox"></i><span>Cron/Housekeeping</span></a><a class="nav-link" href="blank.html"><i class="fas fa-cloud"></i><span>Cloud</span></a><a class="nav-link" href="/bss_admin/bss_admin_db_statistics.html"><i class="fas fa-database"></i><span>DB Statistics</span></a>
                            <a
                                class="nav-link" href="/bss_admin/bss_admin_docker.html"><i class="fab fa-docker"></i><span>Docker Statistics</span></a><a class="nav-link" href="blank.html"><i class="fas fa-gamepad"></i><span>Game Metadata</span></a><a class="nav-link" href="blank.html"><i class="fas fa-microchip"></i><span>Hardware</span></a>
                                <a
                                    class="nav-link" href="/bss_admin/bss_admin_library.html"><i class="fas fa-ticket-alt"></i><span>Library</span></a><a class="nav-link" href="blank.html"><i class="fas fa-clipboard-list"></i><span>Reports</span></a><a class="nav-link" href="blank.html"><i class="fas fa-cogs"></i><span>Server</span></a>
                                    <a
                                        class="nav-link" href="blank.html"><i class="fas fa-link"></i><span>Server Links</span></a><a class="nav-link" href="blank.html"><i class="fas fa-share"></i><span>Shares (UNC/SMB/NFS)</span></a><a class="nav-link" href="blank.html"><i class="fas fa-bolt"></i><span>Transmission</span></a>
                                        <a
                                            class="nav-link" href="/bss_admin/bss_admin_user.html"><i class="fas fa-user-alt"></i><span>Users</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid flex-fill">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-auto col-md-6 col-xl-3 flex-fill mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Docker Info</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Operating System: {{data_host['OperatingSystem']}}</p>
                                    <p>Kernel: {{data_host['KernelVersion']}}</p>
                                    <p>Host IP: {{data_host['Swarm']['NodeAddr']}}</p>
                                    <p>Docker Engine: {{data_host['ServerVersion']}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-5 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Cluster Join Info</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Token: {{data_swam}}</p>
                                    <p>Run following on other node(s) to join swarm cluster.</p>
                                    <p>docker swarm join --token {{data_swam}} {{data_host['Swarm']['NodeAddr']}}:2377</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Active Swarm Node(s)</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Operating System</th>
                                                <th>Kernel</th>
                                                <th>Docker Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cell 1</td>
                                                <td>Cell 2</td>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                            </tr>
                                            <tr>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                                <td>Cell 3</td>
                                                <td>Cell 4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
                </div>
            </footer>
        </div>
    </div><div>    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
{% endblock %}