service_identity
requests>=2.11.1
pyOpenSSL
scandir
httplib2
oauth2client
pycrypto
psycopg2
tmdbsimple
plyer
pylzma
pytvmaze
musicbrainzngs
watchdog
fastnumbers
natsort
xmltodict
google-api-python-client
Flask
Flask-WeasyPrint
Flask-Login
Flask-Cache
Flask-Bcrypt
Flask-WTF
Flask-Babel
Flask-Mail
Flask-Openid
Flask-Paginate
Flask-Moment
Flask-Assets
Flask-SQLAlchemy
Flask-Migrate
Flask-KVSession
ipgetter
pytvdbapi
fuzzywuzzy
youtube_dl
subliminal
python-nest
uritemplate
feedgen
imdbpie
nest
easysnmp
trakt
transmissionrpc
steam
guessit
passwordmeter
beautifulsoup4
klein
futures
flask-uploads
pychromecast
PyVimeo
pitchfork
pygal
flickrapi
rxv
python-twitch
pillow
python-ldap
omdb
pyaudio
onkyo-eiscp
Adafruit_BBIO
arduino-python
NetflixRouletteAPI
docker-py