/CHANGELOG.txt
/CONTRIBUTING.txt
/LICENSE.txt
/fullcalendar.css
/fullcalendar.js
/fullcalendar.min.css
/fullcalendar.min.js
/fullcalendar.print.css
/fullcalendar.print.min.css
/gcal.js
/gcal.min.js
/locale-all.js
