/jquery.ui.colorpicker-de.js
/jquery.ui.colorpicker-de.min.js
/jquery.ui.colorpicker-el.js
/jquery.ui.colorpicker-el.min.js
/jquery.ui.colorpicker-en-GB.js
/jquery.ui.colorpicker-en-GB.min.js
/jquery.ui.colorpicker-en-US.js
/jquery.ui.colorpicker-en-US.min.js
/jquery.ui.colorpicker-en.js
/jquery.ui.colorpicker-en.min.js
/jquery.ui.colorpicker-fr.js
/jquery.ui.colorpicker-fr.min.js
/jquery.ui.colorpicker-nl.js
/jquery.ui.colorpicker-nl.min.js
/jquery.ui.colorpicker-pt-BR.js
/jquery.ui.colorpicker-pt-BR.min.js
/jquery.ui.colorpicker-ru.js
/jquery.ui.colorpicker-ru.min.js
