{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    <div class="container-narrow">
        <h1>Server</h1>
        <form id="settingsserverForm" class="form form-settingsserver" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.servername.label}}
                {{form.servername(placeholder="Server Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.servermotd.label}}
                {{form.servermotd(placeholder="Server MOTD", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.activity_purge_interval.label}}
                {{form.activity_purge_interval(placeholder="Purge Activity Data Older Than", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.user_password_lock.label}}
                {{form.user_password_lock(placeholder="Lock account after failed attempts", class_="form-control")}}
            </div>
        </form>
        <h1>Metadata</h1>
        <form id="settingsmetadataForm" class="form form-settingsmetadata" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <p>Preferred download language</p>
            <select name="Meta_Lang", id="meta_lang">
                {% for lang_data in data_lang %}
                <option value={{lang_data[1]}}>{{lang_data[0]}}</option>
                {% endfor %}
            </select>
            <p>Country</p>
            <select name="Meta_Country", id="meta_country">
                {% for country_data in data_country %}
                <option value={{country_data[1]}}>{{country_data[0]}}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                {{form.metadata_with_media.label}}
                {{form.metadata_with_media(placeholder="Save metadata with media", class_="form-control")}}
            </div>
        </form>
        <p>nfo file support</p>
        <h1>Subtitles</h1>
        <form id="settingsmetadatasubtitlesForm" class="form form-settingsmetadatasubtitles" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.metadata_sub_media_down.label}}
                {{form.metadata_sub_media_down(placeholder="Media", class_="form-control")}}
            </div>
            <select name="Meta_Subtitle_Lang", id="meta_subtitle_lang">
                {% for lang_data in data_lang %}
                <option value={{lang_data[1]}}>{{lang_data[0]}}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                {{form.metadata_sub_skip_if_audio.label}}
                {{form.metadata_sub_skip_if_audio(placeholder="Skip if audio track in media", class_="form-control")}}
            </div>
        </form>
        <h1>Docker containers</h1>
        <form id="settingsdockerForm" class="form form-settingsdockersync" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.docker_musicbrainz.label}}
                {{form.docker_musicbrainz(placeholder="MusicBrainz", class_="form-control")}}
                {{form.docker_musicbrainz_code.label}}
                {{form.docker_musicbrainz_code(placeholder="Brainzcode", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_mumble.label}}
                {{form.docker_mumble(placeholder="Mumble", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_pgadmin.label}}
                {{form.docker_pgadmin(placeholder="PgAdmin", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_portainer.label}}
                {{form.docker_portainer(placeholder="Portainer", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_teamspeak.label}}
                {{form.docker_teamspeak(placeholder="Teamspeak 3", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_transmission.label}}
                {{form.docker_transmission(placeholder="Transmission", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.docker_wireshark.label}}
                {{form.docker_wireshark(placeholder="Wireshark", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Update"></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
</body>
{% endblock %}
