{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    <div>
        <p>Operating System: {{data_host['OperatingSystem']}}</p>
        <p>Kernel: {{data_host['KernelVersion']}}</p>
        <p>Host IP: {{data_host['Swarm']['NodeAddr']}}</p>
        <p>Docker Engine: {{data_host['ServerVersion']}}</p>
    </div>
    <div>
        <p>Cluster Join Token: {{data_swam}}</p><BR><BR>
        <p>Run the following command on other node(s) to join swarm as worker:</p><BR>
        <p>docker swarm join --token {{data_swam}} {{data_host['Swarm']['NodeAddr']}}:2377</p>
    </div>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
</body>
{% endblock %}
