{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    <div>
        <p>Operating System: {{data_host['OperatingSystem']}}</p>
        <p>Kernel: {{data_host['KernelVersion']}}</p>
        <p>Host IP: {{data_host['Swarm']['NodeAddr']}}</p>
        <p>Docker Engine: {{data_host['ServerVersion']}}</p>
    </div>
    <div>
        <p>Cluster Join Token: {{data_swam}}</p><BR>
        <p>Run the following command on other node(s) to join swarm as worker:</p>
        <p>docker swarm join --token {{data_swam}} {{data_host['Swarm']['NodeAddr']}}:2377</p>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
</body>
{% endblock %}
