{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    {% if data_db_count %}
    <div class="table-responsive">
        <h3>Parallel Workers: {{data_workers}}</h3>
        <BR>
        <h3>Database Table Size</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Record(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in data_db_count %}
                <tr>
                    <td>{{ row_data[0] }}</td>
                    <td>{{ row_data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if data_db_size %}
    <div class="table-responsive">
        <h3>Database Table Size</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in data_db_size %}
                <tr>
                    <td>{{ row_data[0] }}</td>
                    <td>{{ row_data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
</body>
{% endblock %}
