{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Library Path Addition</h1>
    <br>
    <form id="libraryaddeditForm" class="form form-libraryedit" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <select name="Lib_Share", id="lib_share">
            {% for share_data in data_share %}
            <option value={{share_data[1]}}>{{share_data[0]}}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            {{form.library_path.label}}
            {{form.library_path(placeholder="Library Path", class_="form-control")}}
        </div>
        <select name="Lib_Class", id="lib_class">
            {% for class_data in data_class %}
            <option value={{class_data[1]}}>{{class_data[0]}}</option>
            {% endfor %}
        </select>
        <p><input class="btn btn-default btn-submit" type="submit" name="action_type" value="Add"></p>
        <p><input class="btn btn-default btn-submit" type="submit" name="action_type" value="Browse..."></p>
        <p><input type="image" src="{{ url_for('static', filename='images/Synology_logo_Standard.png') }}" class="btn btn-default btn-submit" type="submit" name="action_type" value="Synology"></p>
        <p>The “Synology” logo are trademarks of Synology, Inc., registered in the Republic of China (Taiwan) and other countries.</p>
    </form>
</div>
{% endblock %}
