{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    {% if media_class %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Media Classes</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in media_class %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data[0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No classes found. Have admin check the database!</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
</body>
{% endblock %}
