{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <div class="container-narrow">
        <h1>Sync Modification</h1>
        <br>
        <form id="synceditForm" class="form form-syncedit" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.name.label}}
                {{form.name(placeholder="Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_type.label}}
                {{form.target_type(placeholder="Sync Type", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_file_size.label}}
                {{form.target_file_size(placeholder="File Size", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_container.label}}
                {{form.target_container(placeholder="Container", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_codec.label}}
                {{form.target_codec(placeholder="Codec", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_audio_channels.label}}
                {{form.target_audio_channels(placeholder="Audio Channels", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_audio_codec.label}}
                {{form.target_audio_codec(placeholder="Audio Codec", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_sample_rate.label}}
                {{form.target_sample_rate(placeholder="Sample Rate", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_priority.label}}
                {{form.target_priority(placeholder="Priority", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.target_output_path.label}}
                {{form.target_output_path(placeholder="Output File", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Create Sync Job"></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</body>
{% endblock %}
