{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/css/listnav.css">
    </head>
    {% if media %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div id="container">
        {% for row_data in media %}
        {% if row_data[2] == None %}
        <a href= "{{ url_for('user_home.home_media_detail', guid=row_data[0]) }}" > {{row_data[1]}}</a>
        {% else %}
        <a href= "{{ url_for('user_home.home_media_detail', guid=row_data[0]) }}" >
        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= {{ "/static/meta/images/" + row_data[0] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '') }} height="200" width="132">
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No home videos found.</p>
    {% endif %}
    {% endblock %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/context/jquery.contextmenu.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
