{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MediaKraken Video Player</title>
        <link href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css">
    </head>
    <body id="data_background">
        {% if data_chromecast %}
            <select name="Video_Play_Chromecast", id="video_play_chromecast">
                {% for chrome_data in data_chromecast %}
                <option value={{chrome_data[0]}}>{{chrome_data[2]['Name']}}</option>
                {% endfor %}
            </select>
        {% else %}
        <p>No known current chromecast.</p>
        {% endif %}
        <div>
            <a href= "{{ url_for('user_chromecast.user_cast', action='back', guid=data_guid) }}" id="cast_back_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/arrow_left.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='rewind', guid=data_guid) }}" id="cast_rewind_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/rewind.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='stop', guid=data_guid) }}" id="cast_stop_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/stop.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='play', guid=data_guid) }}" id="cast_play_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/play.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='pause', guid=data_guid) }}" id="cast_pause_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/pause.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='ff', guid=data_guid) }}" id="cast_ff_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/forward.png') }}" height="50" width="50">
            </a>
            <a href= "{{ url_for('user_chromecast.user_cast', action='forward', guid=data_guid) }}" id="cast_forward_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='images/navigation/arrow_right.png') }}" height="50" width="50">
            </a>
        </div>
        <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
        <script>
            ;(function() {
                // Initialize
                var bLazy = new Blazy();
            })();
        </script>
    </body>
</html>
{% endblock %}
