{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
