{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/datetimepicker/jquery.datetimepicker.min.css') }}"/ >
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <p><input id="_datetimepicker3" type="text" value="10.12.2013 23:45"/></p>
    {% if media != "" %}
    <div>
    {{media|safe}}
    </div>
    {% else %}
    <p id="general_text">No live TV programs(s) found.</p>
    {% endif %}
    <script type="text/javascript">// <![CDATA[
        jQuery(function(){
        jQuery('#_datetimepicker3').datetimepicker({
         format:'d.m.Y H:i',
         inline:true,
         lang:'en'
        });
        });
        // ]]>
    </script>
    <script src="{{ url_for('static', filename='/static/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/datetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
</body>
{% endblock %}
