{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
    </head>
    {% if media %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div id="the-queue-node">
        {% for row_data in media %}
        <!-- 0 mm_media_name, 1 mm_media_guid, 2 mm_metadata_json (poster only), 3 count -->
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data[1]}}>
                <a href="{{ '../tv_show_detail/' + row_data[1] }}">
                {% if row_data[2] == None %}
                <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='images/missing_icon.jpg') }}" height="300" width="200">
                </a>
                <div class="description">
                    <p class="description_content">{{row_data[0] + " - " + row_data[3]}}</p>
                </div>
                {% else %}
                <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='meta/images/' + row_data[2] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
                </a>
                <div class="description">
                    <p class="description_content_left">{{row_data[3]}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No media found in queue.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='context/jquery.contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
