{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                {% for row_data in media %}
                <tr>
                    {% if row_data[3] == None %}
                    <td>
                        <a href= "{{ url_for('user_music.user_album_detail_page', guid=row_data[1])) }}" >
                        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ row_data[0] }} alt= {{ row_data[0] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '') }}" height="100" width="100">
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <a href= "{{ url_for('user_music.user_album_detail_page', guid=row_data[1])) }}" >
                        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ row_data[2] }} alt= {{ row_data[1] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '') }}" height="100" width="100">
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No media found.</p>
    {% endif %}
    {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='context/jquery.contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.shuffle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
