{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media %}
    <div id="filterdiv">
        <form name="media_filter" action="{{url_for('user_movie_genre.user_movie_genre_page')}}" method="post">
            <p>Media Filters:
            <button type="submit" value="movie_genre">Genre</button>
            Rating:
            <select name="movie_rating", id="movie_rating">
                <option value="All">All</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
                <option value="NR-17">NR-17</option>
                <option value="X">X</option>
            </select>
            Status:
            <select name="movie_status", id="movie_status">
                <option value="All">All</option>
                <option value="Unwatched">Unwatched</option>
                <option value="Watched">Watched</option>
                <option value="In Progress">In Progress</option>
            </select>
            </p>
        </form>
    </div>
    {{ pagination.info }}
    {{ pagination.links }}
    <!-- this div is needed to show up between pagination correctly -->
    <div id="the-movie-node">
        {% for row_data in media %}
        <!-- 0 mm_media_name, 1 mm_media_guid, 2 mm_metadata_json (poster only), 3 = watched or not -->
        <div class="main_photo">
            <div data-id={{row_data[1]}}>
                <a href= "{{ url_for('user_movie.movie_detail', guid=row_data[1]) }}">
                {% if row_data[2] == None %}
                    <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='images/Movie-icon.png') }}" height="300" width="200">
                    {% if row_data[3] == True %}
                    <img class="watched_icon" src="{{ url_for('static', filename='images/eye.png') }}" height="20" width="20">
                    {% endif %}
                    {% if row_data[4] == True %}
                    <img class="synced_icon" src="{{ url_for('static', filename='images/synced.jpg') }}" height="20" width="20">
                    {% endif %}
                    {% if row_data[5] != None %}
                    <img class="rating_icon" src="{{row_data[5]}}" height="20" width="20">
                    {% endif %}
                    {% if row_data[6] == True %}
                    <img class="exclamation_icon" src="{{ url_for('static', filename='images/exclamation-circle-frame.png') }}" height="20" width="20">
                    {% endif %}
                    </a>
                    <div class="description">
                        <p class="description_content_left">{{row_data[0]}}</p>
                    </div>
                {% else %}
                    <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='meta/images/' + row_data[2] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
                    {% if row_data[3] == True %}
                    <img class="watched_icon" src="{{ url_for('static', filename='images/eye.png') }}" height="20" width="20">
                    {% endif %}
                    {% if row_data[4] == True %}
                    <img class="synced_icon" src="{{ url_for('static', filename='images/synced.jpg') }}" height="20" width="20">
                    {% endif %}
                    {% if row_data[5] != None %}
                    <img class="rating_icon" src="{{row_data[5]}}" height="20" width="20">
                    {% endif %}
                    {% if row_data[6] == True %}
                    <img class="exclamation_icon" src="{{ url_for('static', filename='images/exclamation-circle-frame.png') }}" height="20" width="20">
                    {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No media found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
