{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MediaKraken Video Player</title>
        <link href="/static/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <body id="data_background">
        {% if data_chromecast %}
            <select name="Video_Play_Chromecast", id="video_play_chromecast">
                {% for chrome_data in data_chromecast %}
                <option value={{chrome_data[0]}}>{{chrome_data[2]['Name']}}</option>
                {% endfor %}
            </select>
        {% else %}
        <p>No known current chromecast.</p>
        {% endif %}
        <div>
            <a href= {{"../../cast/back/" + data_uuid}} id="cast_back_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/arrow_left.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/rewind/" + data_uuid}} id="cast_rewind_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/rewind.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/stop/" + data_uuid}} id="cast_stop_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/stop.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/play/" + data_uuid}} id="cast_play_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/play.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/pause/" + data_uuid}} id="cast_pause_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/pause.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/ff/" + data_uuid}} id="cast_ff_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/forward.png" height="50" width="50">
            </a>
            <a href= {{"../../cast/forward/" + data_uuid}} id="cast_forward_button">
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/static/images/navigation/arrow_right.png" height="50" width="50">
            </a>
        </div>
        <script src="/static/js/blazy.min.js"></script>
        <script>
            ;(function() {
                // Initialize
                var bLazy = new Blazy();
            })();
        </script>
    </body>
</html>
{% endblock %}
