{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='context/jquery.contextmenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <div class="container-narrow">
        <h1>Search Media</h1>
        <br>
        <form id="SearchForm" class="form form-searchedit" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.search_string.label}}
                {{form.search_string(placeholder="Search String", class_="form-control")}}
            </div>
            <div>
                {% for row_data in media %}
                <div class="main_photo">
                    <a href="{{ url_for('user_movie.movie_detail', guid=row_data[0]) }}" >
                    <img class="b-lazy"
                         src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                         data-src="{{url_for('static', filename='images/genre/' + row_data[2].replace(' ', '%20')) }}"
                    height="300" width="200">
                    </a>
                    <div class="description">
                        <p class="description_content_left">{{row_data[0] + ' - ' + row_data[1]}}</p>
                    </div>
                </div>
                {% endfor %}
                {% for row_data in media_tvshow %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data }}</td>
                </tr>
                {% endfor %}
                {% for row_data in media_album %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data }}</td>
                </tr>
                {% endfor %}
                {% for row_data in media_image %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data }}</td>
                </tr>
                {% endfor %}
                {% for row_data in media_book %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data }}</td>
                </tr>
                {% endfor %}
                {% for row_data in media_game %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data }}</td>
                </tr>
                {% endfor %}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" name="action_type"
                      value="Search Local"></p>
            <p><input class="btn btn-default btn-submit" type="submit" name="action_type"
                      value="Search Metadata Providers"></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='context/jquery.contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_webapp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
            ;(function() {
                // Initialize
                var bLazy = new Blazy();
            })();

    </script>
</body>
{% endblock %}
