{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MediaKraken Comic Viewer</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- load all styles css -->
        <link href="/static/comicarchive/css/styles.css" rel="stylesheet">
        <link href="/static/comicarchive/css/lightgallery.min.css" rel="stylesheet">
        <link href="/static/comicarchive/css/base_webapp_layout.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <body id="data_background">
        <div class="se-pre-con"></div> <!-- loading spinner -->
        <center>
            <fieldset>
                <legend>Open Comic</legend>
                <input type="file" name="fileup" id="fileup" accept=".cbr,.cbz,.cbt"><br>
                <i>(cbr,cbz,cbt files only)</i>
            </fieldset>
            <br><br>

            <!-- output comics images here -->
            <div id="output"></div>

            <br><br>
        </center>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/uncompress/uncompress.js"></script>
        <script src="/static/comicarchive/js/lightGallery/lightgallery.min.js"></script>
        <script src="/static/comicarchive/js/lightGallery/lg-zoom.min.js"></script>
        <script src="/static/comicarchive/js/lightGallery/lg-fullscreen.min.js"></script>
        <script src="/static/comicarchive/js/script.js"></script>
    </body>
</html>
{% endblock %}
