{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media %}
    <div>
        {% for row_data in media %}
        <div class="main_photo">
            <a href= "{{ url_for('user_internet.user_internet_youtube_detail', uuid=row_data['items'][0]['id']) }}" >
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ row_data['items'][0]['snippet']['thumbnails']['default']['url'] }}" height="300" width="200">
        </a>
        <div class="description">
            <p class="description_content_left">{{row_data['items'][0]['snippet']['title']}}</p>
        </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No YouTube media found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
