{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/context/jquery.contextmenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/listnav.css') }}">
    </head>
    {% if media %}
    <!-- this div is needed to show up between pagination correctly -->
    <div>
        {% for row_data in media %}
        <div class="main_photo">
            <a href= "{{ url_for('user_movie_genre.user_movie_page', genre=row_data[0].replace(' ', '%20')) }}" >
            <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ url_for('static', filename='/static/images/genre/' + row_data[2].replace(' ', '%20')) }}" height="300" width="200">
            </a>
            <div class="description">
                <p class="description_content_left">{{row_data[0] + ' - ' + row_data[1]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No media by genre found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/context/jquery.contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/base_webapp.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
