{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MediaKraken Video Player</title>
        <link href="{{ url_for('static', filename='/static/videojs/video-js.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/static/css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css">
    </head>
    <body id="data_background">
        {% if data_mtype == "yt" %}
        <video id="vid1" src="" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="100%" data-setup='{"fluid":"true","techOrder":["youtube"]}'>
            <source src={{"http://www.youtube.com/watch?v=" + data_guid}} type="video/youtube">
        </video>
        {% else %}
        {% if data_mtype == "vm" %}
        <video id="vid1" class="video-js vjs-default-skin" controls autoplay width="640" height="264" data-setup='{ "techOrder": ["vimeo"]}'>
            <source src={{"https://vimeo.com/" + data_guid}} type="video/vimeo">
        </video>
        {% else %}
        {% if data_mtype == "hls" %}
        <video id=example-video width=960 height=400 class="video-js vjs-default-skin" controls>
            <source
                src={{data_guid}}
                type="application/x-mpegURL">
        </video>
        {% else %}
        {% if data_mtype == "dm" %}
        <video id="vid1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360"
            data-setup='{ "techOrder": ["dailymotion"], "dmControls" : "0", "src": "http://www.dailymotion.com/video/x2xt7xv_meet-buck-animation_shortfilms" }'></video>
        {% else %}
        {% if data_mtype == "mu" %}
        <video id="video"
            class="video-js vjs-default-skin"
            height="300"
            width="600"
            controls
            data-setup='{ "techOrder": ["aurora"] }'>
        <source src="{{ url_for('static', filename='/static/sound/Hallelujah.flac') }}" type="audio/flac" />
        {% else %}
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
            <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
            <track kind="captions" src="../shared/example-captions.vtt" srclang="en" label="English"></track>
            <!-- Tracks need an ending tag thanks to IE9 -->
            <track kind="subtitles" src="../shared/example-captions.vtt" srclang="en" label="English"></track>
            <!-- Tracks need an ending tag thanks to IE9 -->
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        <script src="{{ url_for('static', filename='/static/videojs/video.min.js') }}"></script>
        {% if data_mtype == "yt" %}
        <script src="{{ url_for('static', filename='/static/videojs/Youtube.min.js') }}"></script>
        {% else %}
        {% if data_mtype == "vm" %}
        <script src="{{ url_for('static', filename='/static/videojs/Vimeo.js') }}"></script>
        {% else %}
        {% if data_mtype == "hls" %}
        <script src="{[ url_for('static', filename='/static/videojs/videojs-contrib-hls.min.js') }}"></script>
        <script>
            var player = videojs('example-video');
            player.play();
        </script>
        {% else %}
        {% if data_mtype == "dm" %}
        <script src="{[ url_for('static', filename='/static/videojs/videojs-dailymotion.js') }}"></script>
        {% else %}
        {% if data_mtype == "mu" %}
        <script src="{{ url_for('static', filename='/static/videojs/videojs-aurora.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/aurora.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/aac.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/alac.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/aurora-speex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/flac.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/mp3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/ogg.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/opus.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/speex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/static/js/aurora/vorbis.min.js') }}"></script>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </body>
</html>
{% endblock %}
