{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    {% if media %}
    <div>
        {% for row_data in media %}
        {% if row_data[2] == None %}
        <a href= "{{ url_for('user_internet.user_internet_vimeo_detail', guid=row_data[1]) }}" > {{row_data[0]}}</a>
        {% else %}
        <a href= "{{ url_for('user_internet.user_internet_vimeo_detail', guid=row_data[1]) }}" >
        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ url_for('static', filename='meta/images/' + row_data[2] | replace('/mediakraken/web_app/MediaKraken/static/meta/images/', '')) }}" height="300" width="200">
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No Vimeo media found.</p>
    {% endif %}
    {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
