{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./web_app_async/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./web_app_async/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    <div id="twitch-embed"></div>
    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 1280,
        height: 720,
        channel: "{{media}}"
      });
    </script>
    <script src="./web_app_async/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./web_app_async/static/js/jquery.min.js"></script>
</body>
{% endblock %}
