{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./web_app_async/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./web_app_async/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    {% if phue > 0 %}
    <a href="{{ url_for('user_hardware_hue.user_hardware_hue') }}" id="user_hardware_page">
        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="./web_app_async/static/images/light-bulb.png" alt="hue_hardware" height="200" width="200">
    </a>
    {% endif %}
    <script src="./web_app_async/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./web_app_async/static/js/jquery.min.js"></script>
    <script src="./web_app_async/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
