{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="./web_app_async/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./web_app_async/static/css/star-rating.min.css" media="all" type="text/css"/>
        <link rel="stylesheet" href="./web_app_async/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    {% if data %}
    <div id="movie_detail">
        {% if data_background_image is not none %}
        <img alt="fs_bg_image" src= "{{ ./web_app_async/static/meta/images/' + data_background_image | replace('/mediakraken/web_app_async/static/meta/images/', '') }}" id="fs_bg_image" >
        {% endif %}
        <div id="movie_image_div" class="table-responsive">
            {% if data_poster_image is none %}
            <img class="center" src= "./web_app_async/static/images/missing_icon.jpg">
            {% else %}
            <img class="center" src= "{{ ./web_app_async/static/meta/images/' + data_poster_image | replace('/mediakraken/web_app_async/static/meta/images/', '') }}" >
            {% endif %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <div id="textbox">
                            <p class="alignleft">Runtime: {{data[4]}}</p>
                        </div>
                        <div style="clear: both;"></div>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="movie_detail_div" class="table-responsive">
            <div id="textbox">
                <p class="alignleft">Title: {{data[2]}}</p>
                <p class="alignright">Release Date: {{data[3]}}</p>
            </div>
            <div style="clear: both;"></div>
            <div style="clear: both;"></div>
            <div id="textbox">
                <form name="video_detail_stat_form_status" action={{data_detail_url}} method="post">
                    <p class="alignright">
                        {% if data_watched_status == True %}
                        <input class="btn btn-default btn-submit" type="submit" name="status" value="Watched">
                        {% else %}
                        <input class="btn btn-default btn-submit" type="submit" name="status" value="Unwatched">
                        {% endif %}
                    </p>
                </form>
            </div>
            <p>Overview: {{data[5]}}</p>
        </div>
    </div>
    {% else %}
    <p>No info found. ERROR! You should never see this message.</p>
    {% endif %}
    <script src="./web_app_async/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./web_app_async/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="./web_app_async/static/js/star-rating.min.js" type="text/javascript"></script>
    <script src="./web_app_async/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
{% endblock %}
