{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./web_app_async/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./web_app_async/static/css/base_webapp_layout.css" media="all" type="text/css"/>
    </head>
    {% if media %}
    <div>
        {% for row_data in media %}
        {% if row_data[2] == None %}
        <a href= "{{ url_for('user_internet.user_internet_vimeo_detail', guid=row_data[1]) }}" > {{row_data[0]}}</a>
        {% else %}
        <a href= "{{ url_for('user_internet.user_internet_vimeo_detail', guid=row_data[1]) }}" >
        <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src= "{{ './web_app_async/static/meta/images/' + row_data[2] | replace('/mediakraken/web_app_async/static/meta/images/', '')) }}" height="300" width="200">
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p id="general_text">No Vimeo media found.</p>
    {% endif %}
    {% endblock %}
    <script src="./web_app_async/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./web_app_async/static/js/jquery.min.js"></script>
    <script src="./web_app_async/static/js/blazy.min.js"></script>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
