/arrow-point-to-down.png
/big-anchor.png
/black-back-closed-envelope-shape.png
/books-stack-of-three.png
/chromecast.png
/database.png
/edit.png
/emergency-exit.png
/folder.png
/hard-drive-with-an-arrow-pointing-down.png
/link.png
/list.png
/multiple-users-silhouette.png
/play-station-controller.png
/rubbish-bin.png
/tv.png
/two-cogwheels-configuration-interface-symbol.png
/video-camera.png
/world.png
