    {% if media_tvshow %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    <div id="the-tv-node">
        {% for row_data in media_tvshow %}
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data[1]}}>
                <a href = "{{ url_for('name_blueprint_user_metadata_tv.url_bp_user_metadata_tvshow_detail', guid=row_data[0]) }}" >
                {% if row_data[3] == None %}
                <img src= "{{ url_for('static', filename='img/missing_icon.jpg') }}" loading="lazy" height="300" width="200">
                {% else %}
                <img src= "{{ url_for('static', filename=row_data[3]) }}" loading="lazy" height="300" width="200">
                {% endif %}
                </a>
                {% if row_data[2] != None %}
                <div class="description">
                    <p class="description_content_left">{{row_data[2]}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
