{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MKSanic</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" type="text/css"/>
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ url_for('name_blueprint_user_homepage.url_bp_user_homepage') }}">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_sync.url_bp_user_sync_display_all') }}">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_movie.url_bp_user_metadata_movie_list') }}">Movie</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_media_colletion.url_bp_user_metadata_movie_collection') }}">Movie Collection</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_tv.url_bp_user_metadata_tvshow_list') }}">TV Show</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music.url_bp_user_metadata_music_album_list') }}">Music Album</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_sports.url_bp_user_metadata_sports_list') }}">Sports</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game.url_bp_user_metadata_game') }}">Games</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game_system.url_bp_user_metadata_game_system') }}">Game Systems</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_people.url_bp_user_metadata_person_list') }}">Person</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_periodical.url_bp_user_metadata_periodical') }}">Book/Periodical</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music_video.url_bp_user_metadata_music_video') }}">Music Video</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_profile.url_bp_user_profile') }}">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_admin.url_bp_admin') }}">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_public_about.url_bp_public_about') }}">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/logout">Log Out</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <div><div>
    {% if media_movie %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div id="the-movie-metadata-node">
        {% for row_data in media_movie %}
            <div class="main_photo">
                <div data-id={{row_data[0]}}>
                    <a href= "{{ url_for('name_blueprint_user_metadata_movie.url_bp_user_metadata_movie_detail', guid=row_data[0]) }}" >
                        {% if row_data[3] == None or row_data[3] == 'null' %}
                            <img src="{{ url_for('static', filename='img/Movie-icon.png') }}" loading="lazy" height="300" width="200">
                            {% if row_data[4] == True %}
                            <img class="watched_icon" src="{{ url_for('static', filename='img/eye.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[5] != None %}
                            <img class="rating_icon" src="{{ url_for('static', filename='img/' + row_data[5] ) }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[6] != None %}
                            <img class="request_icon" src="{{ url_for('static', filename='img/add-button.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[7] != None %}
                            <img class="queue_icon" src="{{ url_for('static', filename='img/rectangles.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            </a>
                            <div class="description">
                                <p class="description_content_left">{{row_data[1]}}</p>
                            </div>
                        {% else %}
                            <img src="{{ url_for('static', filename=row_data[3] ) }}" loading="lazy" height="300" width="200">
                            {% if row_data[4] == True %}
                            <img class="watched_icon" src="{{ url_for('static', filename='img/eye.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[5] != None %}
                            <img class="rating_icon" src="{{ url_for('static', filename='img/' + row_data[5] ) }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[6] != None %}
                            <img class="request_icon" src="{{ url_for('static', filename='img/add-button.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                            {% if row_data[7] != None %}
                            <img class="queue_icon" src="{{ url_for('static', filename='img/rectangles.png') }}" loading="lazy" height="25" width="25">
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
    {% else %}
    <p id="general_text">No movie metadata found.</p>
    {% endif %}</div></div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
