    <div><div>    {% if media %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TV Show Season Name</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in media_cron %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ row_data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    {% else %}
    <p id="general_text">No tv season metadata found.</p>
    {% endif %}</div></div>
