{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MKSanic</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ url_for('name_blueprint_user_homepage.url_bp_user_homepage') }}">MediaKraken</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_sync.url_bp_user_sync_display_all') }}">Sync</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Metadata</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_movie.url_bp_user_metadata_movie_list') }}">Movie</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_media_colletion.url_bp_user_metadata_movie_collection') }}">Movie Collection</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_tv.url_bp_user_metadata_tvshow_list') }}">TV Show</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music.url_bp_user_metadata_music_album_list') }}">Music Album</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_sports.url_bp_user_metadata_sports_list') }}">Sports</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game.url_bp_user_metadata_game') }}">Games</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_game_system.url_bp_user_metadata_game_system') }}">Game Systems</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_people.url_bp_user_metadata_person_list') }}">Person</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_periodical.url_bp_user_metadata_periodical') }}">Book/Periodical</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for('name_blueprint_user_metadata_music_video.url_bp_user_metadata_music_video') }}">Music Video</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_user_profile.url_bp_user_profile') }}">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_admin.url_bp_admin') }}">Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('name_blueprint_public_about.url_bp_public_about') }}">About</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/logout">Log Out</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <div><div>    {% if data_name %}
    <div id="movie_detail">
        {% if data_background_image is none %}
        <img alt="fs_bg_image" src= "{{ url_for('static', filename='img/movie_ticket.png') }}" id="fs_bg_image" />
        {% else %}
        <img alt="fs_bg_image" src= "{{ url_for('static', filename='meta/images/' + data_background_image) }}" id="fs_bg_image" />
        {% endif %}
        <div id="movie_image_div" class="table-responsive">
            {% if data_poster_image is none %}
            <img class="center" src= "{{ url_for('static', filename='img/Movie-icon.png') }}" >
            {% else %}
            <img class="center" src= "{{ url_for('static', filename='meta/images/' + data_poster_image) }}" >
            {% endif %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <div id="textbox">
                            <p class="alignleft"> {{data_runtime}}</p>
                            <p class="alignright">Rating: TODO </p>
                        </div>
                        <div style="clear: both;"></div>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="movie_detail_div" class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <div id="textbox">
                            <p class="alignleft">Title: {{data_name}}</p>
                            <p class="alignright">Release Date: {{json_metadata['release_date']}}</p>
                        </div>
                        <div style="clear: both;"></div>
                        {% if json_metadata['tagline'] and json_metadata['tagline'] != '-' %}
                        <p>{{json_metadata['tagline']}}</p>
                        {% endif %}
                        {% if json_metadata['original_title'] and json_metadata['original_title'] != data_name %}
                        <p>Alternate Title: {{json_metadata['original_title']}}</p>
                        {% endif %}
                        {% if data_genres %}
                        <p>Genres: {{data_genres}}</p>
                        {% endif %}
                        <div id="textbox">
                            <p class="alignleft">User Rating Avg: {{json_metadata['vote_average']}} with {{json_metadata['vote_count']}} vote(s)</p>
                            <p class="alignright"><input id="movie_rating_stars" value={{json_metadata['vote_average']}} type="number" class="rating" min=0 max=10 step=0.1 data-size="xx" data-stars="10"></p>
                        </div>
                        <div style="clear: both;"></div>
                        {% if data_budget != "0" %}
                        <p>Budget: {{data_budget}}</p>
                        {% endif %}
                        {% if json_metadata['homepage'] %}
                        <p>Homepage: <a href = {{json_metadata['homepage']}}>{{json_metadata['homepage']}}</a></p>
                        {% endif %}
                        <p>Overview: {{json_metadata['overview']}}</p>
                        {% if data_production %}
                        <p>Production Companies: {{data_production}}</p>
                        {% endif %}
                        {% if data_review %}
                        <p>Reviews:</p>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}</div></div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Quinn D Granfor 2020</span></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
{% endblock %}
