
    <!-- End: Navigation with Button -->
    <div><div>
    {% if data_name %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3"><img class="img-fluid" src="{{ url_for('static', filename='img/Movie-icon.png') }}" width="200" height="300"></div>
                        <div class="col-xl-9">
                            <div class="card"></div>
                            <div class="row">
                                <div class="col-xl-7"><span>Title: {{json_metadata['title']}}</span></div>
                                <div class="col"><span class="text-right">Release Date: {{json_metadata['release_date']}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Tagline: {{json_metadata['tagline']}}<br><br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Alternate Title: {{json_metadata['original_title']}}<br><br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>rating icon............clickable genre buttons<br><br></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>star rating image........cast, crew, reviewws, homepage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Overview: {{json_metadata['overview']}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div><div>        {% if data_json_media_cast %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Cast
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <div class="grid">
                        {% for chapter_info in data_json_media_cast %}
                        <div class="col-1-4">
                            <a href="{{ url_for('user_playback.user_video_player_videojs', mtype='hls', guid=data_guid, chapter=chapter_info[0].replace(' ','%20'), audio=0, sub=0) }}">
                                <img src="{{ url_for('static', filename='meta/images/' + chapter_info[1]) }}" height="150" width="150">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <p>
                </div>
            </div>
        </div>
        {% endif %}</div>
                        <div>
                        {% if data_json_media_crew %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Crew
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <div class="grid">
                        {% for chapter_info in data_json_media_crew %}
                        <div class="col-1-4">
                            <a href="{{ url_for('user_playback.user_video_player_videojs', mtype='hls', guid=data_guid, chapter=chapter_info[0].replace(' ','%20'), audio=0, sub=0) }}">
                                <img src="{{ url_for('static', filename='meta/images/' + chapter_info[1]) }}" height="150" width="150">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <p>
                </div>
            </div>
        </div>
        {% endif %}</div></div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
    </div></div>
