
    <!-- End: Navigation with Button -->
    {% if media_sports_list %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sporting Event</th>
                    <th>Event Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row_data in media_sports_list %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td><a href = "{{ url_for('name_blueprint_user_sports.url_bp_user_sports_detail', guid=row_data[0]) }}">{{ row_data[1] }}</a></td>
                    {% if row_data[2] != None %}
                    <td>{{ row_data[2] }}</td>
                    {% else %}
                    <td>Unknown</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    {% else %}
    <p id="general_text">No sporting event metadata found.</p>
    {% endif %}
