
    <!-- End: Navigation with Button -->
    <div><div>    {% if media %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    <div id="the-node">
        {% for row_data in media %}
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data[0]}}>
                <a href= "{{ url_for('name_blueprint_user_metadata_music.metadata_music_album_song_list', guid=row_data[0]) }}" >
                {% if row_data[3] == None %}
                <img src= "{{ url_for('static', filename='img/headphone.png') }}" loading="lazy" height="300" width="200">
                </a>
                {% if row_data[2] == "" %}
                    <div class="description">
                        <p class="description_content_left">{{row_data[1]}}</p>
                    </div>
                {% else %}
                    <div class="description">
                        <p class="description_content_left">{{row_data[1] + " - " + row_data[2]}}</p>
                    </div>
                {% endif %}
                {% else %}
                <img src= "{{ url_for('static', filename=row_data[3]) }}" loading="lazy" height="300" width="200">
                </a>
                <div class="description">
                    <p class="description_content_left">{{row_data[2]}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    {% else %}
    <p id="general_text">No music album metadata found.</p>
    {% endif %}
</div></div>
