
    <!-- End: Navigation with Button -->
    <div><div>
    {% if media %}
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    <div id="the-node">
        {% for row_data in media %}
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data[0]}}>
                <a href= "{{ url_for('name_blueprint_user_media_collection.url_bp_user_metadata_movie_collection_detail', guid=row_data[0]) }}">
                {% if row_data[2] == "" or row_data[2] == None %}
                <img src= "{{ url_for('static', filename='img/Movie-icon.png') }}" loading="lazy" height="300" width="200"></a>
                <div class="description">
                    <p class="description_content_left">{{row_data[1]}}</p>
                </div>
                {% else %}
                <img src= "{{ url_for('static', filename=row_data[2]) }}" loading="lazy" height="300" width="200">
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if pagination_links != None %}
        {{ pagination_links }}
    {% endif %}
    {% else %}
    <p id="general_text">No collection metadata found.</p>
    {% endif %}
</div></div>
