
    <!-- End: Navigation with Button -->
    <div><div>    {% if data_title %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <p>Title: {{ data_title }}</p>
                    <p>Runtime: {{data_runtime}}</p>
                    <p>Rating: </p>
                    <p>User Rating Avg: {{data_user_rating}}</p>
                    <p>Release Date: {{data_first_aired}}</p>
                    <p>Overview: {{data_overview}}</p>
                    {% if data_genres_list %}
                    <p>Genres: {{data_genres_list}}</p>
                    {% endif %}
                    {% if data_production %}
                    <p>Production Companies: {{data_production}}</p>
                    {% endif %}
                    {% if data_review %}
                    <p>Reviews:</p>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <p id="general_text">No info found. ERROR! You should never see this message.</p>
    {% endif %}
</div></div>
